<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="{{ asset('bundles/notaire/images/favicon.ico') }}">
        <link rel="stylesheet" href="{{ asset('bundles/arenafight/style/style.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/arenafight/style/bootstrap.min.css') }}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="{{ asset('bundles/arenafight/js/bootstrap.min.js') }}"></script>
        <title>Titre de la page</title>
    </head>
    <body>
        <div class="container">

            <header>
                <div class="container banniere">
                </div>
                <div class="container">
                    <div class="row">
                        <nav class="navbar navbar-default menu">
                            <div class="container">
                                <ul class="nav navbar-nav">
                                    <li id=""><a href="{{ url('joueur_accueil_persos') }}">PERSONNAGES</a></li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">ITEMS</a>
                                        <ul class="dropdown-menu">
                                            <li><a href="">Inventaire</a></li>
                                            <li><a href="">Boutique</a></li>
                                        </ul>
                                    </li>
                                    <li id=""><a href="{{ url('joueur_quetes') }}">QUETES</a></li>
                                    <li id=""><a href="">COMBATS</a></li>
                                    <li id=""><a href="">CLASSEMENTS</a></li>
                                    <li id=""><a href="">GEMMES</a></li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ app.user }}</a>
                                        <ul class="dropdown-menu">
                                            <li><a href="">Profil</a></li>
                                            <li><a href="{{ url('fos_user_security_logout') }}">Deconnexion</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div> 
                </div>
            </header>

            <div class="container corps">
                {% block body %}
                {% endblock %}
            </div>

        </div>
    </body>
</html>



